<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Projet 2 en SR03</display-name>
  <description>Evaluation de stagiaire</description>
  <welcome-file-list>
    <welcome-file>connection</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>Deconnection</servlet-name>
    <servlet-class>servlets.Deconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnection</servlet-name>
    <url-pattern>/deconnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connection</servlet-name>
    <servlet-class>servlets.Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraineeHome</servlet-name>
    <servlet-class>servlets.trainee.TraineeHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraineeHome</servlet-name>
    <url-pattern>/trainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SurveyList</servlet-name>
    <servlet-class>servlets.trainee.SurveyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyList</servlet-name>
    <url-pattern>/trainee/survey_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayResult</servlet-name>
    <servlet-class>servlets.trainee.DisplayResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayResult</servlet-name>
    <url-pattern>/trainee/display_result</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuperUserHome</servlet-name>
    <servlet-class>servlets.super_user.SuperUserHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperUserHome</servlet-name>
    <url-pattern>/super_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersManagement</servlet-name>
    <servlet-class>servlets.super_user.UsersManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersManagement</servlet-name>
    <url-pattern>/super_user/users_management</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserData</servlet-name>
    <servlet-class>servlets.super_user.UserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserData</servlet-name>
    <url-pattern>/super_user/user_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormsManagement</servlet-name>
    <servlet-class>servlets.super_user.FormsManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionsManagement</servlet-name>
    <url-pattern>/super_user/questions_management</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionsManagement</servlet-name>
    <servlet-class>servlets.super_user.QuestionsManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormsManagement</servlet-name>
    <url-pattern>/super_user/forms_management</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>TraineeFilter</filter-name>
    <filter-class>filters.trainee.TraineeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TraineeFilter</filter-name>
    <url-pattern>/trainee/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SuperUserFilter</filter-name>
    <filter-class>filters.super_user.SuperUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SuperUserFilter</filter-name>
    <url-pattern>/super_user/*</url-pattern>
  </filter-mapping>
</web-app>